# Created by https://www.gitignore.io

### Netbeans project ###

nbproject/
build.xml
manifest.mf

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
